<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/output.css">

</head>
	<footer class="w-full bg-white">
			<div class="flex items-center justify-center mb-12">
				<nav>
					<ul>
						<li class="text-emerald-950 text-lg font-serif">&copy; YeaNah Technologies</li>
					</ul>
				</nav>
			</div>
	</footer>

</body>
</html>