<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/output.css">
	<title>Seesaw</title>
</head>
<body>
	<nav class="py-6 flex items-center bg-white">
		<div class="flex items-center justify-start ml-96">
			<img src="/img/seesawlogo.png" alt="" class="max-w-xs max-h-xs">
		</div>
			<ul class="flex items-center ml-auto">
				<li><a href='/explore' class="text-green-950 font-sans text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">Explore</a></li>
				<li><a href='/myPosts' class="text-green-950 font-sans text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">My Posts</a></li>
				<li><a href='/favourites' class="text-green-950 font-sans text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">Favourites</a></li>
				<li><a href='/addPost' class="text-green-950 font-sans text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">Add a Post</a></li>
			</ul>
			<div class="mr-48">
				<a href='/logout' class="text-green-950 font-sans text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl"><button>Log out</button></a>
			</div>		
		</nav>
</body>
</html>