<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/output.css">
	<title>Seesaw</title>
</head>
<body>
			<nav class="py-8 flex items-center justify-around bg-white">
				<div class="flex items-center justify-evenly ml-20">
					<img src="/img/seesawlogo.png" alt="" class="max-w-sm max-h-xs">
				</div>
				<div class="mr-20">
					<a href='/login' class="text-green-950 font-sans"><button class="text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">Login</button></a>
					<a href='/signup' class="text-green-950 font-sans"><button class="text-2xl hover:border-2 hover:border-teal-500 px-10 py-5 rounded-3xl">Sign Up</button></a>
				</div>		
			</nav>
		
</body>
</html>