<%- include('partials/headerIndex') -%>

	<div class="bg-cyan-50 flex justify-evenly pb-32">
		<div class="max-w-lg ml-48">
			<h1 class="text-emerald-950 text-6xl font-sans font-semibold mt-32 mb-16">Discover, Share and Plan Unforgettable Adventures</h1>
			<h4 class="text-emerald-950 text-3xl font-sans mb-16">Unlock a world of travel inspiration and plan your dream trips with Seesaw.</h4>
			<a href="/signup" class="text-emerald-950 text-4xl font-sans"><button class="bg-teal-500 px-6 py-6 rounded-3xl hover:bg-teal-300">Start Your Journey</button></a>
		</div>

		<div class="max-w-3xl">
			<img src="/img/heroimg.png" alt="" class="mt-8">
		</div>

	</div>

	<div class="flex justify-evenly px-20 py-20 bg-teal-600">
		<div>
			<img src="/img/aboutus.png" alt="" class="max-w-lg max-h-lg my-16 ml-16">
		</div>

		<div class="max-w-lg mt-40 font-serif mr-16">
			<h1 class="text-white text-7xl mb-16">About Us</h1>
			<h3 class="text-white text-3xl">Seesaw is the ultimate travel companion that empowers you to explore, connect, and embark on incredible journeys. Get ready to discover breathtaking destinations, gain firsthand insights from fellow travelers, and turn your travel dreams into reality.</h3>
		</div>
		
	</div>

	<div class="">
		<div class="flex justify-center items-stretch relative">
			<img src="/img/overlaywhite.png" alt="" class="absolute bg-cover">
			<img src="/img/backseeimg.png" alt="" class="">
			<div class="absolute mt-44">
				<img src="/img/seesawlogo2.png" alt="absolute bg-cover">
				<h3 class="absolute bg-cover text-emerald-950 text-3xl text-center">Explore a diverse range of travel stories, stunning images, and insider tips shared by a vibrant community of travelers. Discover hidden gems, off-the-beaten-path destinations, and unique experiences that you won't find in traditional travel guides. Let Seesaw be your source of inspiration for unforgettable adventures.</h3>
			</div>
		</div>
	</div>

	
	<div class="flex justify-center items-center px-30 py-40 bg-teal-300">
		<div class="max-w-6xl items-center justify-center">
			<h3 class="text-center text-emerald-950 text-4xl font-serif">"Seesaw has become my go-to travel companion! The inspiration I find from fellow travelers' posts is simply incredible. It has helped me discover hidden gems and plan solo adventures that I would have never known about. Thanks to Seesaw, I've created unforgettable memories and connected with amazing people along the way."</h3>
			<h6 class="text-center text-emerald-950 text-2xl font-serif mt-8">Candice Jacobs</h6>
		</div>
	</div>
	

	<div class="flex justify-evenly bg-emerald-950 px-20 py-20">
		<div class="ml-20 mt-10 max-w-xl">
			<h3 class="text-white text-4xl mb-12">Join thousands of nomads, expats and travel lovers in experiencing amazing adventures today.</h3>
			<a href="/signup" class="text-emerald-950 text-4xl font-sans"><button class="bg-teal-500 px-6 py-6 rounded-3xl hover:bg-teal-300">Start Your Journey</button></a>
		</div>
		<div>
			<img src="/img/seesawlogo3.png" alt="" class="max-w-lg max-h-lg">
		</div>
	</div>

	<div class="flex items-center justify-around bg-white py-24">
		<div class="flex items-center justify-evenly ml-72">
			<img src="/img/seesawlogo.png" alt="" class="w-30 h-20">
		</div>

		<div class="flex justify-center items-center mr-96">
			<ul class="text-emerald-950 font-sans text-2xl mr-28">
				<li class="font-semibold">Important Pages</li>
				<li>Privacy Policy</li>
				<li>Terms & Conditions</li>
			</ul>
			<ul class="text-emerald-950 font-sans text-2xl mr-44">
				<li class="font-semibold">My Account</li>
				<li>Create account</li>
				<li>Login</li>
			</ul>
		</div>
	</div>

	<%- include('partials/footer') -%>


